/****** Object:  UserDefinedFunction [dbo].[FN_GetRentalPaymentInfo]    Script Date: 12/09/2008 11:57:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FN_GetRentalPaymentInfo]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[FN_GetRentalPaymentInfo]


/****** Object:  UserDefinedFunction [dbo].[FN_GetRentalPaymentInfo]    Script Date: 12/09/2008 11:57:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





-- =============================================
-- Author: <Sergei Artyushenkov> 2008-12-04
-- Description: Возвращает информацию об оплате заданного места в заданный период.
-- Эта функция использует функцию ядра бизнес логики FN_GetRentalPaymentPlaceInfo, являясь более 
-- высокоуровневым слоем бизнес логики.
-- =============================================
CREATE FUNCTION [dbo].[FN_GetRentalPaymentInfo]
(	
	@ContractId int, --по умолчанию все договора
	@PlaceId int, --по умолчанию все места
    @ControlDateFrom datetime = null, --по умолчанию вернет долги за каждый день с начала действия договоров
	@ControlDateTo datetime = null --по умолчанию считает долги по сегодня
)
RETURNS @ResultTable TABLE(ContractNumber varchar(25), PlaceNumber varchar(10), ContractId int, PlaceId int,
	ContractPlaceId int, Date datetime, Price money, PaidAmount money, 
	IsPartiallyPaid bit, IsFullyPaid bit, IsOverPaid bit)
AS
BEGIN 


if @ControlDateTo is null
  set @ControlDateTo = GetDate()

set @ControlDateTo = dateadd(day, 0, datediff(day, 0, @ControlDateTo))
             

declare @ContractPlacesTable table(contractId int, placeId int)

insert into @ContractPlacesTable
select distinct crp.ContractId, crp.RentalPlaceId
from ContractRentalPlaces crp
inner join Contracts ct on(ct.Id = crp.ContractId /*and ct.DissolutionDate is null*/)
where (@ContractId is null or crp.ContractId = @ContractId)
and (@PlaceId is null or crp.RentalPlaceId = @PlaceId)
and (@ControlDateFrom is null 
or crp.DateFrom between @ControlDateFrom and @ControlDateTo
or crp.DateTo between @ControlDateFrom and @ControlDateTo 
or @ControlDateFrom between crp.DateFrom and crp.DateTo
or @ControlDateTo between crp.DateFrom and crp.DateTo)

declare @RentalPaymentsTable table(contractId int, placeId int, contractPlaceId int, 
	date datetime, price money, paidamount money, 
	isPartiallyPaid bit, isFullyPaid bit, isOverPaid bit,
	isHoliday bit, isUnpayable bit)
declare @cId int, @pId int

declare ContractPlacesCursor cursor LOCAL FAST_FORWARD
for select * from @ContractPlacesTable

open ContractPlacesCursor

WHILE(1=1)
BEGIN
	FETCH NEXT FROM ContractPlacesCursor INTO @cId, @pId
	if @@FETCH_STATUS <> 0 
		BREAK
	insert into @RentalPaymentsTable
	select * from dbo.FN_GetRentalPaymentPlaceInfo(@cId, @pId, @ControlDateFrom, @ControlDateTo)
END

close ContractPlacesCursor
deallocate ContractPlacesCursor


insert into @ResultTable
select ct.ContractNumber, rp.Number as PlaceNumber, p1.contractId, p1.placeId, p1.contractPlaceId, 
	p1.date, p1.price, p1.paidAmount, p1.isPartiallyPaid, p1.isFullyPaid, p1.isOverPaid
from @RentalPaymentsTable p1
inner join Contracts ct on(ct.id = p1.ContractId)
inner join RentalPlaces rp on(rp.Id = p1.PlaceId)
where (@ControlDateFrom is null or p1.Date between @ControlDateFrom and @ControlDateTo)
order by p1.Date,ct.ContractNumber, rp.Number

return	

END





