/****** Object:  UserDefinedFunction [dbo].[FN_GetRentalPaymentPlaceInfo]    Script Date: 12/09/2008 11:55:41 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FN_GetRentalPaymentPlaceInfo]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[FN_GetRentalPaymentPlaceInfo]


/****** Object:  UserDefinedFunction [dbo].[FN_GetRentalPaymentPlaceInfo]    Script Date: 12/09/2008 11:55:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author: <Sergei Artyushenkov> 2008-12-04
-- Description: Возвращает информацию об оплате заданного места в заданный период.
-- Эта функция по сути представляет собой ядро бизнес логики системы.
-- Changed: <Sergei Artyushenkov> 2008-12-09
-- =============================================
CREATE FUNCTION [dbo].[FN_GetRentalPaymentPlaceInfo]
(	
	@ContractId int, --обязательный параметр
	@PlaceId int, --обязательный параметр
    @ControlDateFrom datetime = null, --по умолчанию вернет долги за каждый день с начала действия договоров
	@ControlDateTo datetime = null --по умолчанию считает долги по сегодня
)
RETURNS @ResultTable TABLE(ContractId int, PlaceId int, contractPlaceId int, Date datetime, 
	Price money, PaidAmount money, IsPartiallyPaid bit, IsFullyPaid bit, IsOverPaid bit,
	IsHoliday bit, IsUnpayable bit)
AS
BEGIN 


DECLARE @DateFrom datetime
DECLARE @DateTo datetime

--если конечная дата не задана, считаем, что это сегодняшний день
if @ControlDateTo is null
  set @ControlDateTo = GetDate()

--на всякий случай отрезаем время
set @ControlDateTo = dateadd(day, 0, datediff(day, 0, @ControlDateTo))

--вытаскиваем самую первую дату включения места в договор             
select @DateFrom = min(ctrp.DateFrom), @DateTo = max(ctrp.DateTo)
from dbo.ContractRentalPlaces ctrp
inner join dbo.RentalPlaces rpl on(ctrp.RentalPlaceId = rpl.Id)
where ctrp.ContractId = @ContractId
and ctrp.RentalPlaceId = @PlaceId

--на всякий случай отрезаем время
set @DateFrom = dateadd(day, 0, datediff(day, 0, @DateFrom))
set @DateTo = dateadd(day, 0, datediff(day, 0, @DateTo))

if @ControlDateFrom is null
	--устанавливаем дату начала отчетного периода с начала присутствия места в договоре
	set @ControlDateFrom = @DateFrom
else
	--на всякий случай отрезаем время
	set @ControlDateFrom = dateadd(day, 0, datediff(day, 0, @ControlDateFrom))



--таблица для наполнения всех дней присутствия места в договоре (мешок для насыпания туда денег)
DECLARE @DateTable table(contractPlaceId int, date datetime, isHoliday bit, isUnpayable bit, price money, paidSum money)

--временная переменная для цикла по датам
DECLARE @curDate datetime
SET @curDate = @DateFrom

declare @isHoliday bit, @isUnpayable bit, @contractPlaceId int, @RentalServiceId int, 
	@price money, @sumPayments money, @paidSum money

--определяем услугу договора
select @RentalServiceId = RentalServiceId from Contracts where Id = @ContractId

--определяем сумму всех поступлений по месту на договоре
select @sumPayments = sum(rp.PaidSum) 
from RentalPayments rp
inner join ContractRentalPlaces crp on(crp.Id = rp.ContractPlaceId)
where rp.ContractId = @ContractId and crp.RentalPlaceId = @PlaceId

--идем по всем датам с первого появления места в договоре до последнего завершения
while (@curDate <= @DateTo)
begin
    set @ContractPlaceid = null
	select @ContractPlaceId = crp.Id
		from ContractRentalPlaces crp 
		where crp.ContractId = @ContractId and crp.RentalPlaceId = @PlaceId 
		and @curDate between crp.DateFrom and crp.DateTo
	if @ContractPlaceId > 0 --место было привязано к договору на этот день
	begin
		set @isHoliday = 0
		set @isUnpayable = 0
		set @price = 0
		set @paidSum = 0

		if exists(select * from HolidayDictionary hd where hd.Date = @curDate)
			set @isHoliday = 1 --общий выходной
		else if exists(select * from ContractUnpayablePeriods cup where cup.ContractRentalPlacesId = @ContractPlaceId and @curDate between cup.BeginDate and cup.EndDate)
			set @isUnpayable = 1 --неоплачиваемый день для этого места
		else --оплачиваемый день, определяем тариф
			select top(1) @price = pl.Price from dbo.PriceList pl 
				where pl.ServiceId = @RentalServiceId and pl.ValidFrom <= @curDate
				order by pl.ValidFrom desc

		if @price > 0 and @sumPayments > 0 --есть за что и чем платить
		begin
			if @sumPayments >= @price --хватает на полную оплату дня
			begin
				set @paidSum = @price
				set @sumPayments = @sumPayments - @price
				if @curDate = @dateTo --если последний день, кидаем на него весь остаток
				begin
					set @paidSum = @paidSum + @sumPayments
					set @sumPayments = 0
				end					
			end
			else --не хватает на полную оплату
			begin
				set @paidSum = @sumPayments
				set @sumPayments = 0
			end
		end

		insert into @DateTable(contractPlaceId, date, isHoliday, isUnpayable, price, paidSum) 
			values(@contractPlaceId, @curDate, @isHoliday, @isUnpayable, @price, @paidSum)
	end
	set @curdate = dateadd(day, 1, @curdate);
end

insert into @ResultTable
select 
 @ContractId
,@PlaceId
,dt.contractPlaceId
,dt.date
,dt.price
,dt.paidSum
,case when dt.paidSum > 0 and dt.paidSum < dt.price then 1 else 0 end
,case when dt.paidSum > 0 and dt.paidSum >= dt.price then 1 else 0 end
,case when dt.paidSum > 0 and dt.paidSum > dt.price then 1 else 0 end
,dt.isHoliday
,dt.isUnpayable
from @DateTable dt
where dt.date between @ControlDateFrom and @ControlDateTo
--order by p1.Date,p1.ContractId, p1.ContractPlaceId

return	

END



