/****** Object:  StoredProcedure [dbo].[ContractStateReport]    Script Date: 12/09/2008 11:59:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractStateReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[ContractStateReport]


/****** Object:  StoredProcedure [dbo].[ContractStateReport]    Script Date: 12/09/2008 11:59:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<A. Ulyanov>
-- Changed: <Sergei Artyushenkov> 2008-12-08
-- Changed: <Sergei Artyushenkov> 2008-12-09
-- =============================================
CREATE PROCEDURE [dbo].[ContractStateReport] 
	@DateFrom datetime,
	@DateTo datetime,
	@ContractNumber varchar(25)  = null,
	@Contractor varchar(32) = null
AS
BEGIN
	SET NOCOUNT ON;

declare @ContractId int, @Contractor1SCode varchar(32)

if isnull(@ContractNumber, '') > ''
begin
	select top 1 @ContractId = id from Contracts where ContractNumber = @ContractNumber order by id desc
	set @Contractor = null
end
else if isnull(@Contractor, '') > ''
	select @Contractor1SCode = Client1SCode from Contracts where ClientName = @Contractor order by id desc
else
	set @Contractor = null


if @DateFrom is not null
	set @DateFrom = dateadd(day, 0, datediff(day, 0, @DateFrom))
if @DateTo is not null
	set @DateTo = dateadd(day, 0, datediff(day, 0, @DateTo))

declare @ContractPlacesTable table(contractId int, placeId int)

insert into @ContractPlacesTable
select distinct crp.ContractId, crp.RentalPlaceId
from ContractRentalPlaces crp
inner join Contracts ct on(ct.Id = crp.ContractId /*and ct.DissolutionDate is null*/)
where (@ContractId is null or crp.ContractId = @ContractId)
and ((@Contractor1SCode is null and (@Contractor is null or ct.ClientName = @Contractor)) or ct.Client1SCode = @Contractor1SCode)
and (@DateFrom is null 
or crp.DateFrom between @DateFrom and @DateTo
or crp.DateTo between @DateFrom and @DateTo 
or @DateFrom between crp.DateFrom and crp.DateTo
or @DateTo between crp.DateFrom and crp.DateTo)

declare @RentalPaymentsTable table(contractId int, placeId int, contractPlaceId int, 
	date datetime, price money, paidamount money, 
	isPartiallyPaid bit, isFullyPaid bit, isOverPaid bit,
	isHoliday bit, isUnpayable bit)
declare @cId int, @pId int

declare ContractPlacesCursor cursor LOCAL FAST_FORWARD
for select * from @ContractPlacesTable

open ContractPlacesCursor

WHILE(1=1)
BEGIN
	FETCH NEXT FROM ContractPlacesCursor INTO @cId, @pId
	if @@FETCH_STATUS <> 0 
		BREAK
	insert into @RentalPaymentsTable
	select * from dbo.FN_GetRentalPaymentPlaceInfo(@cId, @pId, @DateFrom, @DateTo)
END

close ContractPlacesCursor
deallocate ContractPlacesCursor


select 
	 ct.ContractNumber as ContractNumber
	,ct.DateFrom as ContractDateFrom
	,ct.DateTo as ContractDateTo
	,rp.Number as PlaceNumber
	,p1.date as Date
	,case when p1.isHoliday = 1 or p1.isUnpayable = 1 then 'true' else 'false' end as IsHoliday
	,case when p1.isFullyPaid = 1 then 'true' else 'false' end as IsPaid
	,case when p1.isPartiallyPaid = 1 then 'true' else 'false' end as IsPartialyPaid --у Ульянова была опечатка, поэтому оставил имя старое чтобы не падало
from @RentalPaymentsTable p1
inner join Contracts ct on(ct.id = p1.ContractId)
inner join RentalPlaces rp on(rp.Id = p1.PlaceId)
where (@DateFrom is null or p1.Date between @DateFrom and @DateTo)
order by p1.Date,ct.ContractNumber, rp.Number



/*
DECLARE @CurDate datetime
SET @CurDate = @DateFrom

IF NOT(object_id('tempdb..#DateDicionary') is null)
drop table #DateDicionary

create table #DateDicionary (date datetime)

while (@curDate <= @DateTo)
begin
insert into #DateDicionary values (@CurDate)
set @curdate = @curdate + 1;
end

IF NOT(object_id('tempdb..#Places') is null)
drop table #Places

select
ct.Id as ContractId
,ct.DateFrom as ContractDateFrom
,ct.DateTo as ContractDateTo
, ctrp.Id as ContractPlaceId
,ct.ContractNumber as ContractNumber
, rpl.Number as PlaceNumber
,ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and CAST(ROUND(CAST( pl.ValidFrom AS real),0,1) AS datetime) <= #DateDicionary.Date
order by pl.ValidFrom desc), 0)  as Price
,#DateDicionary.Date
,case when
		#DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
		then 1
		else 0
       end as isBelong
,case when
		(exists(select top 1 * from HolidayDictionary where HolidayDictionary.Date = #DateDicionary.Date)
		or #DateDicionary.Date between ctup.BeginDate and ctup.EndDate)
		then 1
		else 0
       end as isHoliday
,case when
		exists(select top 1 * from RentalCashlessPayments  rcp
		where ContractId = ct.Id
		and ct.IsCashless = 1
		and #DateDicionary.Date between rcp.PaidDateFrom and rcp.PaidDateTo)
		then 1
		else 0
       end as IsCashless
into #Places
from dbo.Contracts ct
join #DateDicionary on 1 = 1
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId and #DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
left join dbo.ContractUnpayablePeriods ctup on ctup.ContractRentalPlacesId = ctrp.Id and #DateDicionary.Date between ctup.BeginDate and ctup.EndDate
where 
sv.IsActive = 1 
and sv.IsRental = 1
and ct.ContractNumber like @ContractNumber
and ct.ClientName like @Contractor
order by #DateDicionary.Date, ct.ContractNumber, rpl.Number

IF NOT(object_id('tempdb..#Payments') is null)
drop table #Payments

select  
rpm.ContractId
,rpm.ContractPlaceId
,rpl.Number
,sum(rpm.PaidSum) as PaidSum
,tm.NetworkName as Terminal
into #Payments
from 
RentalPayments rpm 
join dbo.Terminals tm on rpm.TerminalId = tm.Id
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
where 
rpm.DateTime between @DateFrom and @DateTo
group by rpl.Number
,rpm.ContractId
,rpm.ContractPlaceId
,tm.NetworkName

IF NOT(object_id('tempdb..#DateDicionary') is null)
drop table #DateDicionary

select #Places.ContractNumber
,#Places.ContractDateFrom
,#Places.ContractDateTo
,#Places.PlaceNumber
,#Places.Date
,case when #Places.IsHoliday = 1
		then 'true'
		else 'false'
       end as IsHoliday
,case when (#Places.IsCashless = 1 and #Places.IsBelong = 1 and #Places.IsHoliday = 0) or
 ((select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
											 and p2.IsBelong = 1
											 and p2.IsHoliday = 0
											 and p2.IsCashless = 0
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) >= #Places.Price
	and #Places.IsBelong = 1
	and #Places.IsHoliday = 0
	and	#Places.IsCashless = 0)

		then 'true'
		else 'false'
       end as IsPaid
,case when ((select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
											 and p2.IsBelong = 1
											 and p2.IsHoliday = 0
											 and p2.IsCashless = 0
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) > 0
	and #Places.IsBelong = 1
	and #Places.IsHoliday = 0
	and	#Places.IsCashless = 0
	and (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
											 and p2.IsBelong = 1
											 and p2.IsHoliday = 0
											 and p2.IsCashless = 0
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) < #Places.Price)
		then 'true'
		else 'false'
       end as IsPartialyPaid
from  
#Places
left join #Payments on 
#Places.ContractId = #Payments.ContractId
and #Places.ContractPlaceId = #Payments.ContractPlaceId
order by #Places.ContractNumber
,#Places.Date
,#Places.PlaceNumber

IF NOT(object_id('tempdb..#Payments') is null)
drop table #Payments

IF NOT(object_id('tempdb..#Places') is null)
drop table #Places
*/

END

