/****** Object:  StoredProcedure [dbo].[CalculateContract]    Script Date: 12/09/2008 11:58:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CalculateContract]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[CalculateContract]


/****** Object:  StoredProcedure [dbo].[CalculateContract]    Script Date: 12/09/2008 11:58:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<A. Ulyanov>
-- Changed: <Sergei Artyushenkov> 2008-12-09
-- =============================================
CREATE PROCEDURE [dbo].[CalculateContract] 
	 @ContractId int
	,@Date datetime
AS
BEGIN
	SET NOCOUNT ON;


if @Date is not null
	set @Date = dateadd(day, 0, datediff(day, 0, @Date))

select sum(Price) as RenderedAmmount, sum(PaidAmount) as RecievedAmmount
from dbo.FN_GetRentalPaymentInfo(@ContractId, null, null, @Date)


/*
IF NOT(object_id('tempdb..#Places') is null)
drop table #Places

DECLARE @RenderedAmmount money
SET @RenderedAmmount = 0

DECLARE @RecievedAmmount money
SET @RecievedAmmount = 0

DECLARE @RentalPlaceId int
DECLARE @DateFrom datetime
DECLARE @DateTo datetime

DECLARE #PlacesCursor CURSOR FOR 
select rpl.Id, CAST(ROUND(CAST(ctrp.DateFrom AS real),0,1) AS datetime), CAST(ROUND(CAST(ctrp.DateTo AS real),0,1) AS datetime)
from dbo.Contracts ct
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
where ct.Id = @ContractId

OPEN #PlacesCursor

FETCH NEXT FROM #PlacesCursor
INTO @RentalPlaceId, @DateFrom, @DateTo

WHILE @@FETCH_STATUS = 0
BEGIN

IF (@DateTo > CAST(ROUND(CAST(@Date AS real),0,1) AS datetime))
set @DateTo = @Date

IF NOT(object_id('tempdb..#DateDicionary') is null)
drop table #DateDicionary

create table #DateDicionary (date datetime, isholiday bit)
while (@DateFrom <= @DateTo)
begin
if exists((select top 1 * from HolidayDictionary where HolidayDictionary.Date = @DateFrom))
insert into #DateDicionary values (@DateFrom,  1)
else 
insert into #DateDicionary values (@DateFrom,  0)
set @DateFrom = @DateFrom + 1;
end

IF NOT(object_id('tempdb..#RenderedAmmount') is null)
drop table #RenderedAmmount

select 
ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and pl.ValidFrom <= #DateDicionary.Date 
order by pl.ValidFrom desc), 0) as Price
into #RenderedAmmount
from dbo.Contracts ct
join #DateDicionary on 1 = 1
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId and #DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
left join dbo.ContractUnpayablePeriods ctup on ctup.ContractRentalPlacesId = ctrp.Id 
where 
#DateDicionary.isholiday = 0
and ct.IsCashless = 0
and sv.IsActive = 1 
and sv.IsRental = 1
and ct.Id = @ContractId
and rpl.Id = @RentalPlaceId
and (not (#DateDicionary.Date between ctup.BeginDate and ctup.EndDate) or ctup.BeginDate is null or ctup.EndDate is null)
order by #DateDicionary.Date

select 
@RenderedAmmount = @RenderedAmmount + isnull(sum(Price), 0)
from #RenderedAmmount

IF NOT(object_id('tempdb..#Payments') is null)
drop table #Payments

select  
sum(rpm.PaidSum) as PaidSum
into #Payments
from #DateDicionary
left join RentalPayments rpm on CAST(ROUND(CAST( rpm.DateTime AS real),0,1) AS datetime) = #DateDicionary.Date
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
where ctrp.ContractId = @ContractId
and rpl.Id = @RentalPlaceId
group by rpl.Number
,rpm.ContractId
,rpm.ContractPlaceId

select 
@RecievedAmmount = @RecievedAmmount + isnull(sum(PaidSum), 0)
from #Payments

IF NOT(object_id('tempdb..#DateDicionary') is null)
drop table #DateDicionary

IF NOT(object_id('tempdb..#Payments') is null)
drop table #Payments

IF NOT(object_id('tempdb..#Places') is null)
drop table #Places

IF NOT(object_id('tempdb..#Places') is null)
drop table #RenderedAmmount

FETCH NEXT FROM #PlacesCursor
INTO @RentalPlaceId, @DateFrom, @DateTo

END
CLOSE #PlacesCursor
DEALLOCATE #PlacesCursor

select @RenderedAmmount as RenderedAmmount, @RecievedAmmount as RecievedAmmount
*/

END

