/****** Object:  StoredProcedure [dbo].[GetPayDates]    Script Date: 12/09/2008 12:31:22 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPayDates]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetPayDates]


/****** Object:  StoredProcedure [dbo].[GetPayDates]    Script Date: 12/09/2008 12:31:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-- =============================================
-- Author:		<A. Ulyanov>
-- Modified:    <O. Grishin> 20081010
-- Modified:    <O. Grishin> 20081020
-- Modified:    <O. Grishin> 20081201
-- Modified: <Sergei Artyushenkov> 2008-12-03
-- Modified: <Sergei Artyushenkov> 2008-12-08
-- Modified: <Sergei Artyushenkov> 2008-12-09
-- =============================================
CREATE PROCEDURE [dbo].[GetPayDates] 
	@PlaceNumber varchar(10),
	@ContractNumber varchar(25)
AS
BEGIN
	SET NOCOUNT ON;

declare @PlaceId int, @ContractId int
select @PlaceId = id from RentalPlaces where Number = @PlaceNumber
select @ContractId = id from Contracts where ContractNumber = @ContractNumber

select Date, Price, IsPartiallyPaid as PartialyPaid, PaidAmount as PaidAmmount --у Ульянова были опечатки, пришлось оставить, чтобы не упали отчеты 
from dbo.FN_GetRentalPaymentPlaceInfo(@ContractId, @PlaceId, null, null)
where IsFullyPaid = 0 and isHoliday = 0 and isUnpayable = 0
order by Date, ContractId, ContractPlaceId


/*
DECLARE @DateFrom datetime
DECLARE @DateTo datetime

DECLARE @PlaceId int
DECLARE @ContractId int

declare @today DateTime
set @today = dateadd(day, 0, datediff(day, 0, GetDate()))
             
select @DateFrom = dateadd(day, 0, datediff(day, 0, ctrp.DateFrom)),
@DateTo = @today, --@DateTo = dateadd(day, 0, datediff(day, 0, ctrp.DateTo))
@PlaceId = rpl.Id,
@ContractId = ct.Id
from dbo.Contracts ct
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
where ct.ContractNumber = @ContractNumber
and rpl.Number = @PlaceNumber

DECLARE @curDate datetime
SET @curDate = @DateFrom


DECLARE @DateTable table(date datetime, isHoliday bit)

while (@curDate <= @DateTo)
begin
if exists((select top 1 * from HolidayDictionary where HolidayDictionary.Date = @curdate))
insert into @DateTable values (@curDate,  1)
else 
insert into @DateTable values (@curDate,  0)
set @curdate = @curdate + 1;
end


declare @PlacesTable table(ContractId int, ContractNumber varchar(25), ContractPlaceId int, PlaceNumber varchar(10), Price money, Date datetime)

insert into @PlacesTable
select 
  ct.Id
, ct.ContractNumber
, ctrp.Id
, rpl.Number
, ISNULL((select top 1 pl.Price
  from dbo.PriceList pl 
  where pl.ServiceId = sv.Id
  and pl.ValidFrom <= dt.Date 
  order by pl.ValidFrom desc), 0)
, dt.Date
from dbo.Contracts ct
join @DateTable dt on 1 = 1
join dbo.ContractRentalPlaces ctrp 
on ct.id = ctrp.ContractId 
and dt.Date between ctrp.DateFrom and ctrp.DateTo
join dbo.RentalPlaces rpl 
on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv 
on sv.Id = ct.RentalServiceId
where (Select Count(*) From dbo.ContractUnpayablePeriods As ctup
       Where ctup.ContractRentalPlacesId = ctrp.Id 
			 and dt.Date between ctup.BeginDate and ctup.EndDate) = 0
and dt.isHoliday = 0
and sv.IsActive = 1 
and sv.IsRental = 1
and ct.Id = @ContractId
and rpl.Id = @PlaceId
--and (not (dt.Date between ctup.BeginDate and ctup.EndDate) or ctup.BeginDate is null or ctup.EndDate is null)
order by dt.Date, ct.ContractNumber, rpl.Number


declare @PaymentsTable table(ContractId int, ContractPlaceId int, PlaceNumber varchar(10), PaidSum money)

insert into @PaymentsTable 
select  
rpm.ContractId
,rpm.ContractPlaceId
,rpl.Number
,sum(rpm.PaidSum)
from @DateTable dt
right join RentalPayments rpm 
on CAST(ROUND(CAST( rpm.DateTime AS real),0,1) AS datetime) = dt.Date
join dbo.ContractRentalPlaces ctrp 
on rpm.ContractPlaceId = ctrp.Id
join dbo.RentalPlaces rpl 
on ctrp.RentalPlaceId = rpl.Id
where ctrp.ContractId = @ContractId
and rpl.Id = @PlaceId
group by rpl.Number
,rpm.ContractId
,rpm.ContractPlaceId


select 
 p1.Date
,p1.Price
,case when (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from @PlacesTable as p2
                                             where p1.ContractId = p2.ContractId
                                             and p1.ContractPlaceId = p2.ContractPlaceId
                                             and p1.Date > p2.Date)) > 0
		then 'true'
		else 'false'
       end as PartialyPaid
,case when (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from @PlacesTable as p2
                                             where p1.ContractId = p2.ContractId
                                             and p1.ContractPlaceId = p2.ContractPlaceId
                                             and p1.Date > p2.Date)) > 0
		then (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from @PlacesTable as p2
                                             where p1.ContractId = p2.ContractId
                                             and p1.ContractPlaceId = p2.ContractPlaceId
                                             and p1.Date > p2.Date))
		else 0
       end as PaidAmmount
from @PlacesTable p1
left join @PaymentsTable pt
on p1.ContractId = pt.ContractId
and p1.ContractPlaceId = pt.ContractPlaceId
where (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
									  from @PlacesTable as p2
                                      where p1.ContractId = p2.ContractId
                                      and p1.ContractPlaceId = p2.ContractPlaceId
                                      and p1.Date > p2.Date)) < p1.Price
order by p1.Date,p1.ContractId, p1.ContractPlaceId
*/

END


