/****** Object:  StoredProcedure [dbo].[GetServiceFees]    Script Date: 12/09/2008 12:03:02 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetServiceFees]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetServiceFees]


/****** Object:  StoredProcedure [dbo].[GetServiceFees]    Script Date: 12/09/2008 12:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<A. Ulyanov>
-- Modified:    <O. Grishin> 2008-10-09
-- =============================================
CREATE PROCEDURE [dbo].[GetServiceFees] 
	@DateFrom datetime,
	@DateTo datetime
AS
BEGIN
	SET NOCOUNT ON;
select  
sv.Name
,sv.Description
,ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and pl.ValidFrom <= spm.DateTime 
order by pl.ValidFrom desc), 0)  as Price
,spm.PaidSum as PaidSum
,spm.DateTime as Date
,tm.NetworkName as Terminal
,spds.StatusMessage as StatusMessage
from
ServicePayments spm
join dbo.ServicePaymentDailySummary spds on spm.DailySummaryId = spds.Id
join dbo.Terminals tm on spm.TerminalId = tm.Id
join dbo.Services sv on spm.ServiceId = sv.Id and sv.IsRental = 0
where 
spm.DateTime between @DateFrom and @DateTo
group by 
sv.Name
,sv.Description
,spm.DateTime
,sv.Id
,tm.NetworkName
,spm.PaidSum
,spds.StatusMessage

END
