/****** Object:  StoredProcedure [dbo].[GetRentalFees]    Script Date: 12/09/2008 12:02:30 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRentalFees]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetRentalFees]


/****** Object:  StoredProcedure [dbo].[GetRentalFees]    Script Date: 12/09/2008 12:02:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<A. Ulyanov>
-- Changed: <Sergei Artyushenkov> 2008-12-08
-- =============================================
CREATE PROCEDURE [dbo].[GetRentalFees] 
	@DateFrom datetime,
	@DateTo datetime
AS
BEGIN
	SET NOCOUNT ON;

if @DateFrom is not null
	set @DateFrom = dateadd(day, 0, datediff(day, 0, @DateFrom))
if @DateTo is not null
	set @DateTo = dateadd(day, 0, datediff(day, 0, @DateTo))

select ContractNumber, PlaceNumber, Price, PaidAmount as PaidSum, Date, 
	case when IsFullyPaid = 1 then 'true' else 'false' end as IsPaid, '' as Terminal 
from dbo.FN_GetRentalPaymentInfo(null, null, @DateFrom, @DateTo)
order by Date, PlaceNumber


/*
DECLARE @CurDate datetime
SET @CurDate = @DateFrom

IF NOT(object_id('tempdb..#DateDicionary') is null)
drop table #DateDicionary

create table #DateDicionary (date datetime)

while (@curDate <= @DateTo)
begin
insert into #DateDicionary values (@CurDate)
set @curdate = @curdate + 1;
end

IF NOT(object_id('tempdb..#Places') is null)
drop table #Places

select
ct.Id as ContractId
, ctrp.Id as ContractPlaceId
,ct.ContractNumber as ContractNumber
, rpl.Number as PlaceNumber
,ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and CAST(ROUND(CAST( pl.ValidFrom AS real),0,1) AS datetime) <= #DateDicionary.Date
order by pl.ValidFrom desc), 0)  as Price
,#DateDicionary.Date
,case when
		#DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
		then 1
		else 0
       end as isBelong
,case when
		(exists(select top 1 * from HolidayDictionary where HolidayDictionary.Date = #DateDicionary.Date)
		or #DateDicionary.Date between ctup.BeginDate and ctup.EndDate)
		then 1
		else 0
       end as isHoliday
,case when
		exists(select top 1 * from RentalCashlessPayments  rcp
		where ContractId = ct.Id
		and ct.IsCashless = 1
		and #DateDicionary.Date between rcp.PaidDateFrom and rcp.PaidDateTo)
		then 1
		else 0
       end as IsCashless
into #Places
from dbo.Contracts ct
join #DateDicionary on 1 = 1
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId and #DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
left join dbo.ContractUnpayablePeriods ctup on ctup.ContractRentalPlacesId = ctrp.Id and #DateDicionary.Date between ctup.BeginDate and ctup.EndDate
where 
sv.IsActive = 1 
and sv.IsRental = 1
order by #DateDicionary.Date, ct.ContractNumber, rpl.Number

IF NOT(object_id('tempdb..#Payments') is null)
drop table #Payments

select  
rpm.ContractId
,rpm.ContractPlaceId
,rpl.Number
,sum(rpm.PaidSum) as PaidSum
,tm.NetworkName as Terminal
into #Payments
from 
RentalPayments rpm 
join dbo.Terminals tm on rpm.TerminalId = tm.Id
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
where 
rpm.DateTime between @DateFrom and @DateTo
group by rpl.Number
,rpm.ContractId
,rpm.ContractPlaceId
,tm.NetworkName

IF NOT(object_id('tempdb..#DateDicionary') is null)
drop table #DateDicionary

select #Places.ContractNumber
,#Places.PlaceNumber
,#Places.Price
,Isnull(#Payments.PaidSum, 0) as PaidSum
,#Places.Date
,case when #Places.IsCashless = 1 or
 ((select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
											 and p2.IsBelong = 1
											 and p2.IsHoliday = 0
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) >= #Places.Price
	and #Places.IsBelong = 1
	and #Places.IsHoliday = 0
	and	#Places.IsCashless = 0)

		then 'true'
		else 'false'
       end as IsPaid
,#Payments.Terminal
from  
#Places
left join #Payments on 
#Places.ContractId = #Payments.ContractId
and #Places.ContractPlaceId = #Payments.ContractPlaceId

order by #Places.Date
,#Places.PlaceNumber

IF NOT(object_id('tempdb..#Payments') is null)
drop table #Payments

IF NOT(object_id('tempdb..#Places') is null)
drop table #Places
*/

END

