/****** Object:  StoredProcedure [dbo].[GetPaymentReport]    Script Date: 12/09/2008 12:02:00 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPaymentReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetPaymentReport]


/****** Object:  StoredProcedure [dbo].[GetPaymentReport]    Script Date: 12/09/2008 12:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<A. Ulyanov>
-- Changed: <Sergei Artyushenkov> 2008-12-08
-- =============================================
CREATE PROCEDURE [dbo].[GetPaymentReport] 
	@DateFrom datetime,
	@DateTo datetime
AS
BEGIN
	SET NOCOUNT ON;

if @DateFrom is not null
	set @DateFrom = dateadd(day, 0, datediff(day, 0, @DateFrom))
if @DateTo is not null
	set @DateTo = dateadd(day, 0, datediff(day, 0, @DateTo))

select ContractNumber, PlaceNumber, Price, PaidAmount as PaidSum, Date, 
	case when IsFullyPaid = 1 then 'true' else 'false' end as IsPaid, '' as Terminal 
from dbo.FN_GetRentalPaymentInfo(null, null, @DateFrom, @DateTo)
where IsFullyPaid = 0
order by Date, ContractNumber, PlaceNumber


/*
DECLARE @CurDate datetime
SET @CurDate = @DateFrom

IF NOT(object_id('tempdb..#DateDicionary') is null)
drop table #DateDicionary

create table #DateDicionary (date datetime, isholiday bit)

while (@curDate <= @DateTo)
begin
if exists((select top 1 * from HolidayDictionary where HolidayDictionary.Date = @curdate))
insert into #DateDicionary values (@CurDate,  1)
else 
insert into #DateDicionary values (@CurDate,  0)
set @curdate = @curdate + 1;
end

IF NOT(object_id('tempdb..#Places') is null)
drop table #Places

select 
ct.Id as ContractId
,ct.ContractNumber as ContractNumber
, ctrp.Id as ContractPlaceId
, rpl.Number as PlaceNumber
,ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and pl.ValidFrom <= #DateDicionary.Date 
order by pl.ValidFrom desc), 0)  as Price
,#DateDicionary.Date
into #Places
from dbo.Contracts ct
join #DateDicionary on 1 = 1
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId and #DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
left join dbo.ContractUnpayablePeriods ctup on ctup.ContractRentalPlacesId = ctrp.Id and (#DateDicionary.Date between ctup.BeginDate and ctup.EndDate)
where 
#DateDicionary.isholiday = 0
and sv.IsActive = 1 
and sv.IsRental = 1
and ct.IsCashless = 0
order by #DateDicionary.Date, ct.ContractNumber, rpl.Number

IF NOT(object_id('tempdb..#Payments') is null)
drop table #Payments

select  
 #DateDicionary.Date as DateTime
,rpm.ContractId
,rpm.ContractPlaceId
,rpl.Number
,rpm.PaidSum
,tm.NetworkName as Terminal
into #Payments
from #DateDicionary
left join RentalPayments rpm on CAST(ROUND(CAST( rpm.DateTime AS real),0,1) AS datetime) = #DateDicionary.Date
join dbo.Terminals tm on rpm.TerminalId = tm.Id
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id

IF NOT(object_id('tempdb..#DateDicionary') is null)
drop table #DateDicionary

select 
 #Places.ContractNumber
,#Places.PlaceNumber
,#Places.Price
,Isnull(#Payments.PaidSum, 0) as PaidSum
,#Places.Date
,case when (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) >= #Places.Price
		then 'true'
		else 'false'
       end as IsPaid
,#Payments.Terminal
from 
#Places
left join #Payments
on #Places.Date = #Payments.DateTime
and #Places.ContractId = #Payments.ContractId
and #Places.ContractPlaceId = #Payments.ContractPlaceId
order by 5, 1, 2

IF NOT(object_id('tempdb..#Payments') is null)
drop table #Payments

IF NOT(object_id('tempdb..#Places') is null)
drop table #Places
*/

END












