/****** Object:  StoredProcedure [dbo].[GetPaidReport]    Script Date: 12/09/2008 12:00:40 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPaidReport]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[GetPaidReport]


/****** Object:  StoredProcedure [dbo].[GetPaidReport]    Script Date: 12/09/2008 12:00:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<A. Ulyanov>
-- =============================================
CREATE PROCEDURE [dbo].[GetPaidReport] 
	@DateFrom datetime,
	@DateTo datetime
AS
BEGIN
	SET NOCOUNT ON;

if @DateFrom is not null
	set @DateFrom = dateadd(day, 0, datediff(day, 0, @DateFrom))
if @DateTo is not null
	set @DateTo = dateadd(day, 0, datediff(day, 0, @DateTo))


select  
	 ct.ContractNumber
	,rpl.Number
	,ISNULL((select top 1 pl.Price
		from dbo.PriceList pl 
		where pl.ServiceId = sv.Id and pl.ValidFrom <= rpm.DateTime 
		order by pl.ValidFrom desc), 0) as Price
	,rpm.PaidSum as PaidSum
	,rpm.DateTime as Date
	,'false' as IsPaid --бред полнейший, но Ульянов видимо парсит булеан из строки, чтоб не падало оставил как есть, потом заменим на 0 или вообще уберем
	,tm.NetworkName as Terminal
	,rpm.StatusMessage as StatusMessage
from RentalPayments rpm 
left join dbo.Terminals tm on rpm.TerminalId = tm.Id
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.Contracts ct on ct.id = ctrp.ContractId 
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
where rpm.DateTime between @DateFrom and @DateTo
group by rpl.Number, rpm.DateTime, sv.Id, ct.ContractNumber, tm.NetworkName, rpm.PaidSum, rpm.StatusMessage

END





















