/Src/RentalSystem/.idea/
/Src/RentalSystem/.vs/
/Src/RentalSystem/packages/
/Src/RentalSystem/UpgradeLog.htm
/Src/RentalSystem/Libs/Test/bin/x86/LocalDebug
/Src/RentalSystem/Libs/Test/obj
/Src/RentalSystem/Libs/GridExtensions/bin/x86/LocalDebug
/Src/RentalSystem/Libs/GridExtensions/obj
