<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<objects xmlns="http://www.springframework.net"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd"
		xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xdt:Transform="Replace">

	<object id="fiscal.register" type="TermClasses.ShtrihMiniFiscalRegister, TermClasses"/>
	<object id="bill.validator" type="TermClasses.CashCodeSMBillValidator, TermClasses"/>
	<object id="card.reader" type="Shtrih.ParkMaster.CardsManager.Card, CardsManager"/>
	
	<object id="logging.interceptor" type="Arsis.RentalSystem.Core.BLL.LoggingInterceptor, Arsis.RentalSystem.Core" autowire="constructor" />

	<object id="card.reader.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.CardReaderService, Arsis.RentalSystem.TerminalShell.BLL" autowire="byType">
				<property name="CardReader">
					<ref object="card.reader"/>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="userservice" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.UserService, Arsis.RentalSystem.TerminalShell.BLL" autowire="constructor" />
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.services.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.ServicesService, Arsis.RentalSystem.TerminalShell.BLL" autowire="constructor" />
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.rental.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.RentalFeeService, Arsis.RentalSystem.TerminalShell.BLL" autowire="constructor" />
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.place.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.RentalPlaceService, Arsis.RentalSystem.TerminalShell.BLL" autowire="constructor" />
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.terminal.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.TerminalService, Arsis.RentalSystem.TerminalShell.BLL" autowire="constructor" />
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="container.banknoteacceptor" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.BanknoteAcceptor, Arsis.RentalSystem.TerminalShell.BLL" autowire="byType">
				<property name="BillValidator">
					<ref object="bill.validator"/>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>


	<object id="logging.extended.fiscalregister" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.FiscalRegister, Arsis.RentalSystem.TerminalShell.BLL" autowire="byType">
				<property name="UserService">
					<ref object="userservice"/>
				</property>
				<property name="RentalFeeService">
					<ref object="logging.extended.rental.service"/>
				</property>
				<property name="ShtrihMiniFiscalRegister">
					<ref object="fiscal.register"/>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.transactionservice" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.TransactionService, Arsis.RentalSystem.TerminalShell.BLL" autowire="byType" >
				<property name="RentalFeeService">
					<ref object="logging.extended.rental.service"/>
				</property>
				<property name="FiscalRegister">
					<ref object="logging.extended.fiscalregister"/>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.parking.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.ParkingService, Arsis.RentalSystem.TerminalShell.BLL" autowire="byType">
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>
</objects>