<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="PortName" value="COM3"/>
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="LogLevel" value="0" />
    </switches>
  </system.diagnostics>
</configuration>