<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shtrih.ParkMaster.CardsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Shtrih.ParkMaster.CardsManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Shtrih.ParkMaster.CardsManager.Properties.Settings>
            <setting name="Data" serializeAs="String">
                <value />
            </setting>
            <setting name="PortName" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="Account1" serializeAs="String">
                <value />
            </setting>
            <setting name="Account2" serializeAs="String">
                <value />
            </setting>
            <setting name="Account3" serializeAs="String">
                <value />
            </setting>
        </Shtrih.ParkMaster.CardsManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Shtrih.ParkMaster.CardsManager.Properties.Settings>
            <setting name="PortSpeed" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="PortAddress" serializeAs="String">
                <value>34</value>
            </setting>
        </Shtrih.ParkMaster.CardsManager.Properties.Settings>
    </applicationSettings>
</configuration>