<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="RentalSystemConnectionString"
			connectionString="data source=localhost; initial catalog=RentalSystem;User Id=sa;Password=1234512345Aa$; TrustServerCertificate=True; App=EntityFramework"/>
		<add name="ContractorProviderConnectionString" connectionString="Dsn=Domoded1S" providerName="System.Data.Odbc"/>
	</connectionStrings>
</configuration>