<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd" >

	<object id="logging.interceptor" type="Arsis.RentalSystem.Core.Bll.LoggingInterceptor, Arsis.RentalSystem.Core" autowire="constructor" />

	<object id="userservice" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.AdministrationConsole.BLL.Services.UserService, Arsis.RentalSystem.AdministrationConsole.BLL" />
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="contractservice" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.AdministrationConsole.BLL.Services.ContractService, Arsis.RentalSystem.AdministrationConsole.BLL" autowire="byType" >
				<property name="UserService">
					<value>userservice</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.holiday.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.AdministrationConsole.BLL.Services.HolidayDictionaryService, Arsis.RentalSystem.AdministrationConsole.BLL" autowire="byType" >
				<property name="UserService">
					<value>userservice</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.services.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.AdministrationConsole.BLL.Services.ServicesService, Arsis.RentalSystem.AdministrationConsole.BLL" autowire="byType" >
				<property name="UserService">
					<value>userservice</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.rental.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.AdministrationConsole.BLL.Services.FeeService, Arsis.RentalSystem.AdministrationConsole.BLL" autowire="byType" >
				<property name="UserService">
					<value>userservice</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.place.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.AdministrationConsole.BLL.Services.RentalPlaceService, Arsis.RentalSystem.AdministrationConsole.BLL" autowire="byType" >
				<property name="UserService">
					<value>userservice</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.price.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.AdministrationConsole.BLL.Services.PriceListService, Arsis.RentalSystem.AdministrationConsole.BLL" autowire="byType" >
				<property name="UserService">
					<value>userservice</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.unpayableperiods.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.AdministrationConsole.BLL.Services.UnpayablePeriodsService, Arsis.RentalSystem.AdministrationConsole.BLL" autowire="byType" >
				<property name="UserService">
					<value>userservice</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.terminal.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.AdministrationConsole.BLL.Services.TerminalService, Arsis.RentalSystem.AdministrationConsole.BLL" autowire="byType" >
				<property name="UserService">
					<value>userservice</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.sync.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.AdministrationConsole.BLL.Services.SyncService, Arsis.RentalSystem.AdministrationConsole.BLL" autowire="byType" >
				<property name="UserService">
					<value>userservice</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="parking.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.AdministrationConsole.BLL.Services.ParkingService, Arsis.RentalSystem.AdministrationConsole.BLL" autowire="byType" >
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

</objects>