<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.net http://www.springframework.net/xsd/spring-objects.xsd" >

<!--  <object id="fiscal.register" type="Arsis.RentalSystem.TermClassesStub.Impl.ShtrihMiniFiscalRegister, Arsis.RentalSystem.TermClassesStub"/>-->
<!--  <object id="bill.validator" type="Arsis.RentalSystem.TermClassesStub.Impl.CashCodeSMBillValidator, Arsis.RentalSystem.TermClassesStub"/>-->
<!--  <object id="card.reader" type="Arsis.RentalSystem.TermClassesStub.Impl.CardStub, Arsis.RentalSystem.TermClassesStub"/>-->

  <object id="fiscal.register" type="TermClasses.ShtrihMiniFiscalRegister, TermClasses"/>
  <object id="bill.validator" type="TermClasses.CashCodeSMBillValidator, TermClasses"/>
  <object id="card.reader" type="Shtrih.ParkMaster.CardsManager.Card, CardsManager"/>
  
  <object id="logging.interceptor" type="Arsis.RentalSystem.Core.BLL.LoggingInterceptor, Arsis.RentalSystem.Core" autowire="constructor" />

  <object id="card.reader.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
    <property name="Target">
      <object type="Arsis.RentalSystem.TerminalShell.BLL.Services.CardReaderService, Arsis.RentalSystem.TerminalShell.BLL" autowire="byType">
        <property name="CardReader">
          <value>card.reader</value>
        </property>
      </object>
    </property>
    <property name="InterceptorNames">
      <list>
        <value>logging.interceptor</value>
      </list>
    </property>
  </object>
  
	<object id="userservice" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.UserService, Arsis.RentalSystem.TerminalShell.BLL" autowire="constructor" />
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.services.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.ServicesService, Arsis.RentalSystem.TerminalShell.BLL" autowire="constructor" />
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.rental.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.RentalFeeService, Arsis.RentalSystem.TerminalShell.BLL" autowire="constructor" />
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.place.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.RentalPlaceService, Arsis.RentalSystem.TerminalShell.BLL" autowire="constructor" />
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.terminal.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.TerminalService, Arsis.RentalSystem.TerminalShell.BLL" autowire="constructor" />
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="container.banknoteacceptor" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.BanknoteAcceptor, Arsis.RentalSystem.TerminalShell.BLL" autowire="byType">
				<property name="BillValidator">
					<value>bill.validator</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	
	<object id="logging.extended.fiscalregister" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.FiscalRegister, Arsis.RentalSystem.TerminalShell.BLL" autowire="byType">
				<property name="UserService">
					<value>userservice</value>
				</property>
				<property name="RentalFeeService">
					<value>logging.extended.rental.service</value>
				</property>
				<property name="ShtrihMiniFiscalRegister">
					<value>fiscal.register</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.transactionservice" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.TransactionService, Arsis.RentalSystem.TerminalShell.BLL" autowire="byType" >
				<property name="RentalFeeService">
					<value>logging.extended.rental.service</value>
				</property>
				<property name="FiscalRegister">
					<value>logging.extended.fiscalregister</value>
				</property>
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>

	<object id="logging.extended.parking.service" type="Spring.Aop.Framework.ProxyFactoryObject, Spring.Aop">
		<property name="Target">
			<object type="Arsis.RentalSystem.TerminalShell.BLL.Services.ParkingService, Arsis.RentalSystem.TerminalShell.BLL" autowire="byType">
			</object>
		</property>
		<property name="InterceptorNames">
			<list>
				<value>logging.interceptor</value>
			</list>
		</property>
	</object>
</objects>