SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](250) NULL,
 CONSTRAINT [PK_SecurityObject] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Services]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Services](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[IsRental] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [varchar](500) NULL,
	[Picture] [image] NULL,
 CONSTRAINT [PK_OtherService] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_UK_SERVICENAME_SERVICES] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Terminals]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Terminals](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NetworkName] [varchar](250) NULL,
	[Status] [varchar](250) NULL,
	[DateTime] [datetime] NULL,
	[ShiftNumber] [int] NULL,
 CONSTRAINT [PK_TERMINAL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [varchar](20) NOT NULL,
	[Password] [varbinary](50) NOT NULL,
	[Name] [varchar](150) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_UK_USERLOGIN_USERS] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CustomizationData]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CustomizationData](
	[Key] [varchar](100) NOT NULL,
	[Value] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_DataDictionary] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[HolidayDictionary]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[HolidayDictionary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](250) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_HolidayDictionary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RentalPlaces]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RentalPlaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [varchar](10) NOT NULL,
 CONSTRAINT [PK_RENTALPROPERTY] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Number] UNIQUE NONCLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UserRoles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[UserRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_UserSecurityObjects] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PriceList]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PriceList](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceId] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[ValidFrom] [datetime] NULL,
 CONSTRAINT [PK_OPERATIONLOG] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ServicePayments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ServicePayments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TerminalId] [int] NOT NULL,
	[ServiceId] [int] NULL,
	[Price] [money] NOT NULL,
	[PaidSum] [money] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[ShiftNumber] [int] NULL,
	[Status] [tinyint] NOT NULL CONSTRAINT [DF_ServicePayments_Status]  DEFAULT ((0)),
	[StatusDatetime] [datetime] NULL,
	[StatusMessage] [varchar](250) NULL,
	[Payment1SCode] [varchar](32) NULL,
 CONSTRAINT [PK_SERVICEPAYMENTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contracts]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Contracts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractNumber] [varchar](25) NOT NULL,
	[CrDateTime] [datetime] NULL,
	[CrUserId] [int] NULL,
	[DateFrom] [datetime] NULL,
	[DateTo] [datetime] NULL,
	[RentalServiceId] [int] NOT NULL,
	[ClientName] [varchar](250) NULL,
	[INN] [varchar](50) NULL,
	[DissolutionDate] [datetime] NULL,
	[IsCashless] [bit] NOT NULL,
	[CashlessPaymentControlDate] [datetime] NULL,
	[PassportNumber] [varchar](50) NULL,
	[PassportOutletOrgan] [varchar](250) NULL,
	[IsJuridicalPerson] [bit] NOT NULL,
	[PlacePrice] [money] NOT NULL,
	[ChDateTime] [datetime] NULL,
	[ChUserId] [int] NULL,
	[Contract1SCode] [varchar](32) NULL,
	[Status] [tinyint] NOT NULL CONSTRAINT [DF_Contracts_Status]  DEFAULT ((0)),
	[StatusDatetime] [datetime] NULL,
	[ClientAddress] [varchar](250) NULL,
	[ClientPostAddress] [varchar](250) NULL,
	[ClientPhone] [varchar](50) NULL,
	[PassportSeries] [varchar](50) NULL,
	[PassportOutletDate] [datetime] NULL,
	[Client1SCode] [varchar](32) NULL,
	[StatusMessage] [varchar](250) NULL,
 CONSTRAINT [PK_Contract] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContractHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Date] [datetime] NOT NULL,
	[ChangeLog] [varchar](250) NULL,
 CONSTRAINT [PK_ContractHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractRentalPlaces]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContractRentalPlaces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NOT NULL,
	[RentalPlaceId] [int] NOT NULL,
	[DateFrom] [datetime] NULL,
	[DateTo] [datetime] NULL,
 CONSTRAINT [PK_ContractRentalProperties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ContractRentalProperties] UNIQUE NONCLUSTERED 
(
	[ContractId] ASC,
	[RentalPlaceId] ASC,
	[DateFrom] ASC,
	[DateTo] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FactInvoices]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[FactInvoices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[FactInvoice1SCode] [varchar](32) NULL,
	[ContractId] [int] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NOT NULL,
	[Amount] [money] NOT NULL,
	[Status] [tinyint] NOT NULL CONSTRAINT [DF_FactInvoices_Status]  DEFAULT ((0)),
	[StatusDatetime] [datetime] NULL,
	[StatusMessage] [varchar](250) NULL,
 CONSTRAINT [PK_FactInvoices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RentalCashlessPayments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RentalCashlessPayments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractId] [int] NOT NULL,
	[PaidDateFrom] [datetime] NOT NULL,
	[PaidDateTo] [datetime] NOT NULL,
 CONSTRAINT [PK_RentalCashlessPayments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[RentalPayments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[RentalPayments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TerminalId] [int] NULL,
	[ContractId] [int] NULL,
	[ContractPlaceId] [int] NULL,
	[PaidSum] [money] NOT NULL,
	[DateTime] [datetime] NOT NULL CONSTRAINT [DF_RentalFee_Date]  DEFAULT (getdate()),
	[ShiftNumber] [int] NULL,
	[Status] [tinyint] NOT NULL CONSTRAINT [DF_RentalPayments_Status]  DEFAULT ((0)),
	[StatusDatetime] [datetime] NULL,
	[StatusMessage] [varchar](250) NULL,
	[Payment1SCode] [varchar](32) NULL,
 CONSTRAINT [PK_RENTALPAYMENTS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractUnpayablePeriods]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ContractUnpayablePeriods](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ContractRentalPlacesId] [int] NOT NULL,
	[BeginDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Reason] [varchar](250) NULL,
 CONSTRAINT [PK_ContractHolidays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPayDates]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<A. Ulyanov>
-- =============================================
CREATE PROCEDURE [dbo].[GetPayDates] 
	@PlaceNumber varchar(10),
	@ContractNumber varchar(25)
AS
BEGIN
	SET NOCOUNT ON;

DECLARE @DateFrom datetime
DECLARE @DateTo datetime

DECLARE @PlaceId int
DECLARE @ContractId int

select @DateFrom = CAST(ROUND(CAST(ctrp.DateFrom AS real),0,1) AS datetime),
@DateTo = CAST(ROUND(CAST(ctrp.DateTo AS real),0,1) AS datetime),
@PlaceId = rpl.Id,
@ContractId = ct.Id
from dbo.Contracts ct
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
where ct.ContractNumber = @ContractNumber
and rpl.Number = @PlaceNumber

DECLARE @CurDate datetime
SET @CurDate = @DateFrom

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

create table #DateDicionary (date datetime, isholiday bit)

while (@curDate <= @DateTo)
begin
if exists((select top 1 * from HolidayDictionary where HolidayDictionary.Date = @curdate))
insert into #DateDicionary values (@CurDate,  1)
else 
insert into #DateDicionary values (@CurDate,  0)
set @curdate = @curdate + 1;
end

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

select 
ct.Id as ContractId
,ct.ContractNumber as ContractNumber
, ctrp.Id as ContractPlaceId
, rpl.Number as PlaceNumber
,ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and pl.ValidFrom <= #DateDicionary.Date 
order by pl.ValidFrom desc), 0)  as Price
,#DateDicionary.Date
into #Places
from dbo.Contracts ct
join #DateDicionary on 1 = 1
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId and #DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
left join dbo.ContractUnpayablePeriods ctup on ctup.ContractRentalPlacesId = ctrp.Id and #DateDicionary.Date between ctup.BeginDate and ctup.EndDate
where 
#DateDicionary.isholiday = 0
and sv.IsActive = 1 
and sv.IsRental = 1
and ct.Id = @ContractId
and rpl.Id = @PlaceId
--and (not (#DateDicionary.Date between ctup.BeginDate and ctup.EndDate) or ctup.BeginDate is null or ctup.EndDate is null)
order by #DateDicionary.Date, ct.ContractNumber, rpl.Number

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

select  
rpm.ContractId
,rpm.ContractPlaceId
,rpl.Number
,sum(rpm.PaidSum) as PaidSum
into #Payments
from #DateDicionary
right join RentalPayments rpm on CAST(ROUND(CAST( rpm.DateTime AS real),0,1) AS datetime) = #DateDicionary.Date
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
where ctrp.ContractId = @ContractId
and rpl.Id = @PlaceId
group by rpl.Number
,rpm.ContractId
,rpm.ContractPlaceId

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

select 
#Places.Date
,#Places.Price
,case when (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) > 0
		then ''true''
		else ''false''
       end as PartialyPaid
,case when (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) > 0
		then (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date))
		else 0
       end as PaidAmmount
from 
#Places
left join #Payments on 
#Places.ContractId = #Payments.ContractId
and #Places.ContractPlaceId = #Payments.ContractPlaceId
where (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) < #Places.Price
order by #Places.Date,#Places.ContractId, #Places.ContractPlaceId

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

END













' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CalculateContract]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<A. Ulyanov>
-- =============================================
CREATE PROCEDURE [dbo].[CalculateContract] 
	@ContractId int
	,@Date datetime
AS
BEGIN
	SET NOCOUNT ON;

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

DECLARE @RenderedAmmount money
SET @RenderedAmmount = 0

DECLARE @RecievedAmmount money
SET @RecievedAmmount = 0

DECLARE @RentalPlaceId int
DECLARE @DateFrom datetime
DECLARE @DateTo datetime

DECLARE #PlacesCursor CURSOR FOR 
select rpl.Id, CAST(ROUND(CAST(ctrp.DateFrom AS real),0,1) AS datetime), CAST(ROUND(CAST(ctrp.DateTo AS real),0,1) AS datetime)
from dbo.Contracts ct
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
where ct.Id = @ContractId

OPEN #PlacesCursor

FETCH NEXT FROM #PlacesCursor
INTO @RentalPlaceId, @DateFrom, @DateTo

WHILE @@FETCH_STATUS = 0
BEGIN

IF (@DateTo > CAST(ROUND(CAST(@Date AS real),0,1) AS datetime))
set @DateTo = @Date

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

create table #DateDicionary (date datetime, isholiday bit)
while (@DateFrom <= @DateTo)
begin
if exists((select top 1 * from HolidayDictionary where HolidayDictionary.Date = @DateFrom))
insert into #DateDicionary values (@DateFrom,  1)
else 
insert into #DateDicionary values (@DateFrom,  0)
set @DateFrom = @DateFrom + 1;
end

IF NOT(object_id(''tempdb..#RenderedAmmount'') is null)
drop table #RenderedAmmount

select 
ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and pl.ValidFrom <= #DateDicionary.Date 
order by pl.ValidFrom desc), 0) as Price
into #RenderedAmmount
from dbo.Contracts ct
join #DateDicionary on 1 = 1
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId and #DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
left join dbo.ContractUnpayablePeriods ctup on ctup.ContractRentalPlacesId = ctrp.Id 
where 
#DateDicionary.isholiday = 0
and ct.IsCashless = 0
and sv.IsActive = 1 
and sv.IsRental = 1
and ct.Id = @ContractId
and rpl.Id = @RentalPlaceId
and (not (#DateDicionary.Date between ctup.BeginDate and ctup.EndDate) or ctup.BeginDate is null or ctup.EndDate is null)
order by #DateDicionary.Date

select 
@RenderedAmmount = @RenderedAmmount + isnull(sum(Price), 0)
from #RenderedAmmount

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

select  
sum(rpm.PaidSum) as PaidSum
into #Payments
from #DateDicionary
left join RentalPayments rpm on CAST(ROUND(CAST( rpm.DateTime AS real),0,1) AS datetime) = #DateDicionary.Date
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
where ctrp.ContractId = @ContractId
and rpl.Id = @RentalPlaceId
group by rpl.Number
,rpm.ContractId
,rpm.ContractPlaceId

select 
@RecievedAmmount = @RecievedAmmount + isnull(sum(PaidSum), 0)
from #Payments

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #RenderedAmmount

FETCH NEXT FROM #PlacesCursor
INTO @RentalPlaceId, @DateFrom, @DateTo

END
CLOSE #PlacesCursor
DEALLOCATE #PlacesCursor

select @RenderedAmmount as RenderedAmmount, @RecievedAmmount as RecievedAmmount

END












' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPaymentReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<A. Ulyanov>
-- =============================================
CREATE PROCEDURE [dbo].[GetPaymentReport] 
	@DateFrom datetime,
	@DateTo datetime
AS
BEGIN
	SET NOCOUNT ON;

DECLARE @CurDate datetime
SET @CurDate = @DateFrom

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

create table #DateDicionary (date datetime, isholiday bit)

while (@curDate <= @DateTo)
begin
if exists((select top 1 * from HolidayDictionary where HolidayDictionary.Date = @curdate))
insert into #DateDicionary values (@CurDate,  1)
else 
insert into #DateDicionary values (@CurDate,  0)
set @curdate = @curdate + 1;
end

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

select 
ct.Id as ContractId
,ct.ContractNumber as ContractNumber
, ctrp.Id as ContractPlaceId
, rpl.Number as PlaceNumber
,ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and pl.ValidFrom <= #DateDicionary.Date 
order by pl.ValidFrom desc), 0)  as Price
,#DateDicionary.Date
into #Places
from dbo.Contracts ct
join #DateDicionary on 1 = 1
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId and #DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
left join dbo.ContractUnpayablePeriods ctup on ctup.ContractRentalPlacesId = ctrp.Id and (#DateDicionary.Date between ctup.BeginDate and ctup.EndDate)
where 
#DateDicionary.isholiday = 0
and sv.IsActive = 1 
and sv.IsRental = 1
and ct.IsCashless = 0
order by #DateDicionary.Date, ct.ContractNumber, rpl.Number

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

select  
 #DateDicionary.Date as DateTime
,rpm.ContractId
,rpm.ContractPlaceId
,rpl.Number
,rpm.PaidSum
,tm.NetworkName as Terminal
into #Payments
from #DateDicionary
left join RentalPayments rpm on CAST(ROUND(CAST( rpm.DateTime AS real),0,1) AS datetime) = #DateDicionary.Date
join dbo.Terminals tm on rpm.TerminalId = tm.Id
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

select #Places.ContractNumber
,#Places.PlaceNumber
,#Places.Price
,Isnull(#Payments.PaidSum, 0) as PaidSum
,#Places.Date
,case when (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) >= #Places.Price
		then ''true''
		else ''false''
       end as IsPaid
,#Payments.Terminal
from 
#Places
left join #Payments
on #Places.Date = #Payments.DateTime
and #Places.ContractId = #Payments.ContractId
and #Places.ContractPlaceId = #Payments.ContractPlaceId
order by 5, 1, 2

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

END











' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetNotPaidReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<A. Ulyanov>
-- =============================================
CREATE PROCEDURE [dbo].[GetNotPaidReport] 
	@DateFrom datetime,
	@DateTo datetime
AS
BEGIN
	SET NOCOUNT ON;

DECLARE @CurDate datetime
SET @CurDate = @DateFrom

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

create table #DateDicionary (date datetime, isholiday bit)

while (@curDate <= @DateTo)
begin
if exists((select top 1 * from HolidayDictionary where HolidayDictionary.Date = @curdate))
insert into #DateDicionary values (@CurDate,  1)
else 
insert into #DateDicionary values (@CurDate,  0)
set @curdate = @curdate + 1;
end

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

select 
ct.Id as ContractId
,ct.ContractNumber as ContractNumber
, ctrp.Id as ContractPlaceId
, rpl.Number as PlaceNumber
,ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and pl.ValidFrom <= #DateDicionary.Date 
order by pl.ValidFrom desc), 0)  as Price
,#DateDicionary.Date
,case when (ct.IsCashless = 1 and #DateDicionary.Date <= ct.CashlessPaymentControlDate)
		then 1
		else 0
	end as IsPaidCashless
into #Places
from dbo.Contracts ct
join #DateDicionary on 1 = 1
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId and #DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
left join dbo.ContractUnpayablePeriods ctup on ctup.ContractRentalPlacesId = ctrp.Id and #DateDicionary.Date between ctup.BeginDate and ctup.EndDate
where 
#DateDicionary.isholiday = 0
and sv.IsActive = 1 
and sv.IsRental = 1
and (not (#DateDicionary.Date between ctup.BeginDate and ctup.EndDate) or ctup.BeginDate is null or ctup.EndDate is null)
order by #DateDicionary.Date, ct.ContractNumber, rpl.Number

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

select  
rpm.ContractId
,rpm.ContractPlaceId
,rpl.Number
,sum(rpm.PaidSum) as PaidSum
,tm.NetworkName as Terminal
into #Payments
from #DateDicionary
left join RentalPayments rpm on CAST(ROUND(CAST( rpm.DateTime AS real),0,1) AS datetime) = #DateDicionary.Date
join dbo.Terminals tm on rpm.TerminalId = tm.Id
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
group by rpl.Number
,rpm.ContractId
,rpm.ContractPlaceId
,tm.NetworkName

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

select #Places.ContractNumber
,#Places.PlaceNumber
,#Places.Price
,Isnull(#Payments.PaidSum, 0) as PaidSum
,#Places.Date
,case when (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
											 and #Places.IsPaidCashless = 0    
											 and #Places.Date > p2.Date)
											 
) >= #Places.Price or #Places.IsPaidCashless = 1  
		then ''true''
		else ''false''
       end as IsPaid
,#Payments.Terminal
from 
#Places
left join #Payments on 
#Places.ContractId = #Payments.ContractId
and #Places.ContractPlaceId = #Payments.ContractPlaceId
where (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
											 and #Places.IsPaidCashless = 0   
                                             and #Places.Date > p2.Date)) < #Places.Price and #Places.IsPaidCashless = 0 
order by #Places.Date,#Places.ContractId, #Places.ContractPlaceId

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

END











' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetServiceFees]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<A. Ulyanov>
-- =============================================
CREATE PROCEDURE [dbo].[GetServiceFees] 
	@DateFrom datetime,
	@DateTo datetime
AS
BEGIN
	SET NOCOUNT ON;
select  
sv.Name
,sv.Description
,ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and pl.ValidFrom <= spm.DateTime 
order by pl.ValidFrom desc), 0)  as Price
,spm.PaidSum as PaidSum
,spm.DateTime as Date
,tm.NetworkName as Terminal
,spm.StatusMessage as StatusMessage
from
ServicePayments spm 
join dbo.Terminals tm on spm.TerminalId = tm.Id
join dbo.Services sv on spm.ServiceId = sv.Id and sv.IsRental = 0
where 
spm.DateTime between @DateFrom and @DateTo
group by 
sv.Name
,sv.Description
,spm.DateTime
,sv.Id
,tm.NetworkName
,spm.PaidSum
,spm.StatusMessage

END



















' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetPaidReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<A. Ulyanov>
-- =============================================
CREATE PROCEDURE [dbo].[GetPaidReport] 
	@DateFrom datetime,
	@DateTo datetime
AS
BEGIN
	SET NOCOUNT ON;

select  
ct.ContractNumber
,rpl.Number
,ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and pl.ValidFrom <= rpm.DateTime 
order by pl.ValidFrom desc), 0) as Price
,rpm.PaidSum as PaidSum
,rpm.DateTime as Date
,''false'' as IsPaid
,tm.NetworkName as Terminal
,rpm.StatusMessage as StatusMessage
from
RentalPayments rpm 
left join dbo.Terminals tm on rpm.TerminalId = tm.Id
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.Contracts ct on ct.id = ctrp.ContractId 
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
where 
rpm.DateTime between @DateFrom and @DateTo
group by rpl.Number
,rpm.DateTime
,sv.Id
,ct.ContractNumber
,tm.NetworkName
,rpm.PaidSum
,rpm.StatusMessage

END



















' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[GetRentalFees]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<A. Ulyanov>
-- =============================================
CREATE PROCEDURE [dbo].[GetRentalFees] 
	@DateFrom datetime,
	@DateTo datetime
AS
BEGIN
	SET NOCOUNT ON;

DECLARE @CurDate datetime
SET @CurDate = @DateFrom

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

create table #DateDicionary (date datetime)

while (@curDate <= @DateTo)
begin
insert into #DateDicionary values (@CurDate)
set @curdate = @curdate + 1;
end

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

select
ct.Id as ContractId
, ctrp.Id as ContractPlaceId
,ct.ContractNumber as ContractNumber
, rpl.Number as PlaceNumber
,ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and CAST(ROUND(CAST( pl.ValidFrom AS real),0,1) AS datetime) <= #DateDicionary.Date
order by pl.ValidFrom desc), 0)  as Price
,#DateDicionary.Date
,case when
		#DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
		then 1
		else 0
       end as isBelong
,case when
		(exists(select top 1 * from HolidayDictionary where HolidayDictionary.Date = #DateDicionary.Date)
		or #DateDicionary.Date between ctup.BeginDate and ctup.EndDate)
		then 1
		else 0
       end as isHoliday
,case when
		exists(select top 1 * from RentalCashlessPayments  rcp
		where ContractId = ct.Id
		and ct.IsCashless = 1
		and #DateDicionary.Date between rcp.PaidDateFrom and rcp.PaidDateTo)
		then 1
		else 0
       end as IsCashless
into #Places
from dbo.Contracts ct
join #DateDicionary on 1 = 1
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId and #DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
left join dbo.ContractUnpayablePeriods ctup on ctup.ContractRentalPlacesId = ctrp.Id and #DateDicionary.Date between ctup.BeginDate and ctup.EndDate
where 
sv.IsActive = 1 
and sv.IsRental = 1
order by #DateDicionary.Date, ct.ContractNumber, rpl.Number

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

select  
rpm.ContractId
,rpm.ContractPlaceId
,rpl.Number
,sum(rpm.PaidSum) as PaidSum
,tm.NetworkName as Terminal
into #Payments
from 
RentalPayments rpm 
join dbo.Terminals tm on rpm.TerminalId = tm.Id
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
where 
rpm.DateTime between @DateFrom and @DateTo
group by rpl.Number
,rpm.ContractId
,rpm.ContractPlaceId
,tm.NetworkName

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

select #Places.ContractNumber
,#Places.PlaceNumber
,#Places.Price
,Isnull(#Payments.PaidSum, 0) as PaidSum
,#Places.Date
,case when #Places.IsCashless = 1 or
 ((select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
											 and p2.IsBelong = 1
											 and p2.IsHoliday = 0
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) >= #Places.Price
	and #Places.IsBelong = 1
	and #Places.IsHoliday = 0
	and	#Places.IsCashless = 0)

		then ''true''
		else ''false''
       end as IsPaid
,#Payments.Terminal
from  
#Places
left join #Payments on 
#Places.ContractId = #Payments.ContractId
and #Places.ContractPlaceId = #Payments.ContractPlaceId

order by #Places.Date
,#Places.PlaceNumber

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

END


















' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ContractStateReport]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<A. Ulyanov>
-- =============================================
CREATE PROCEDURE [dbo].[ContractStateReport] 
	@DateFrom datetime,
	@DateTo datetime,
	@ContractNumber varchar(25)  = ''%'',
	@Contractor varchar(32) = ''%''
AS
BEGIN
	SET NOCOUNT ON;

DECLARE @CurDate datetime
SET @CurDate = @DateFrom

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

create table #DateDicionary (date datetime)

while (@curDate <= @DateTo)
begin
insert into #DateDicionary values (@CurDate)
set @curdate = @curdate + 1;
end

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

select
ct.Id as ContractId
,ct.DateFrom as ContractDateFrom
,ct.DateTo as ContractDateTo
, ctrp.Id as ContractPlaceId
,ct.ContractNumber as ContractNumber
, rpl.Number as PlaceNumber
,ISNULL((select top 1 pl.Price
from dbo.PriceList pl 
where pl.ServiceId = sv.Id
and CAST(ROUND(CAST( pl.ValidFrom AS real),0,1) AS datetime) <= #DateDicionary.Date
order by pl.ValidFrom desc), 0)  as Price
,#DateDicionary.Date
,case when
		#DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
		then 1
		else 0
       end as isBelong
,case when
		(exists(select top 1 * from HolidayDictionary where HolidayDictionary.Date = #DateDicionary.Date)
		or #DateDicionary.Date between ctup.BeginDate and ctup.EndDate)
		then 1
		else 0
       end as isHoliday
,case when
		exists(select top 1 * from RentalCashlessPayments  rcp
		where ContractId = ct.Id
		and ct.IsCashless = 1
		and #DateDicionary.Date between rcp.PaidDateFrom and rcp.PaidDateTo)
		then 1
		else 0
       end as IsCashless
into #Places
from dbo.Contracts ct
join #DateDicionary on 1 = 1
join dbo.ContractRentalPlaces ctrp on ct.id = ctrp.ContractId and #DateDicionary.Date between ctrp.DateFrom and ctrp.DateTo
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
join dbo.Services sv on sv.Id = ct.RentalServiceId
left join dbo.ContractUnpayablePeriods ctup on ctup.ContractRentalPlacesId = ctrp.Id and #DateDicionary.Date between ctup.BeginDate and ctup.EndDate
where 
sv.IsActive = 1 
and sv.IsRental = 1
and ct.ContractNumber like @ContractNumber
and ct.ClientName like @Contractor
order by #DateDicionary.Date, ct.ContractNumber, rpl.Number

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

select  
rpm.ContractId
,rpm.ContractPlaceId
,rpl.Number
,sum(rpm.PaidSum) as PaidSum
,tm.NetworkName as Terminal
into #Payments
from 
RentalPayments rpm 
join dbo.Terminals tm on rpm.TerminalId = tm.Id
join dbo.ContractRentalPlaces ctrp on rpm.ContractPlaceId = ctrp.Id
join dbo.RentalPlaces rpl on ctrp.RentalPlaceId = rpl.Id
where 
rpm.DateTime between @DateFrom and @DateTo
group by rpl.Number
,rpm.ContractId
,rpm.ContractPlaceId
,tm.NetworkName

IF NOT(object_id(''tempdb..#DateDicionary'') is null)
drop table #DateDicionary

select #Places.ContractNumber
,#Places.ContractDateFrom
,#Places.ContractDateTo
,#Places.PlaceNumber
,#Places.Date
,case when #Places.IsHoliday = 1
		then ''true''
		else ''false''
       end as IsHoliday
,case when (#Places.IsCashless = 1 and #Places.IsBelong = 1 and #Places.IsHoliday = 0) or
 ((select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
											 and p2.IsBelong = 1
											 and p2.IsHoliday = 0
											 and p2.IsCashless = 0
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) >= #Places.Price
	and #Places.IsBelong = 1
	and #Places.IsHoliday = 0
	and	#Places.IsCashless = 0)

		then ''true''
		else ''false''
       end as IsPaid
,case when ((select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
											 and p2.IsBelong = 1
											 and p2.IsHoliday = 0
											 and p2.IsCashless = 0
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) > 0
	and #Places.IsBelong = 1
	and #Places.IsHoliday = 0
	and	#Places.IsCashless = 0
	and (select isnull(PaidSum, 0.0) - (select isnull(sum(Price), 0.0)
                                             from #Places as p2
                                             where #Places.ContractId = p2.ContractId
											 and p2.IsBelong = 1
											 and p2.IsHoliday = 0
											 and p2.IsCashless = 0
                                             and #Places.ContractPlaceId = p2.ContractPlaceId
                                             and #Places.Date > p2.Date)) < #Places.Price)
		then ''true''
		else ''false''
       end as IsPartialyPaid
from  
#Places
left join #Payments on 
#Places.ContractId = #Payments.ContractId
and #Places.ContractPlaceId = #Payments.ContractPlaceId
order by #Places.ContractNumber
,#Places.Date
,#Places.PlaceNumber

IF NOT(object_id(''tempdb..#Payments'') is null)
drop table #Payments

IF NOT(object_id(''tempdb..#Places'') is null)
drop table #Places

END














' 
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserSecurityObjects_SecurityObject]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoles]'))
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserSecurityObjects_SecurityObject] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserSecurityObjects_SecurityObject]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_UserSecurityObjects_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[UserRoles]'))
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserSecurityObjects_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserSecurityObjects_User]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_PRICELIS_REFERENCE_SERVICES]') AND parent_object_id = OBJECT_ID(N'[dbo].[PriceList]'))
ALTER TABLE [dbo].[PriceList]  WITH CHECK ADD  CONSTRAINT [FK_PRICELIS_REFERENCE_SERVICES] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[PriceList] CHECK CONSTRAINT [FK_PRICELIS_REFERENCE_SERVICES]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RentalFee_Terminal]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicePayments]'))
ALTER TABLE [dbo].[ServicePayments]  WITH CHECK ADD  CONSTRAINT [FK_RentalFee_Terminal] FOREIGN KEY([TerminalId])
REFERENCES [dbo].[Terminals] ([Id])
GO
ALTER TABLE [dbo].[ServicePayments] CHECK CONSTRAINT [FK_RentalFee_Terminal]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_SERVICEP_REFERENCE_SERVICES]') AND parent_object_id = OBJECT_ID(N'[dbo].[ServicePayments]'))
ALTER TABLE [dbo].[ServicePayments]  WITH CHECK ADD  CONSTRAINT [FK_SERVICEP_REFERENCE_SERVICES] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[ServicePayments] CHECK CONSTRAINT [FK_SERVICEP_REFERENCE_SERVICES]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CONTRACT_REFERENCE_SERVICES]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contracts]'))
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_CONTRACT_REFERENCE_SERVICES] FOREIGN KEY([RentalServiceId])
REFERENCES [dbo].[Services] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_CONTRACT_REFERENCE_SERVICES]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Contracts_Users_Ch]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contracts]'))
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Users_Ch] FOREIGN KEY([ChUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Users_Ch]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Contracts_Users_Cr]') AND parent_object_id = OBJECT_ID(N'[dbo].[Contracts]'))
ALTER TABLE [dbo].[Contracts]  WITH CHECK ADD  CONSTRAINT [FK_Contracts_Users_Cr] FOREIGN KEY([CrUserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Contracts] CHECK CONSTRAINT [FK_Contracts_Users_Cr]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContractHistory_Contracts]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractHistory]'))
ALTER TABLE [dbo].[ContractHistory]  WITH CHECK ADD  CONSTRAINT [FK_ContractHistory_Contracts] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([Id])
GO
ALTER TABLE [dbo].[ContractHistory] CHECK CONSTRAINT [FK_ContractHistory_Contracts]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContractHistory_Users]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractHistory]'))
ALTER TABLE [dbo].[ContractHistory]  WITH CHECK ADD  CONSTRAINT [FK_ContractHistory_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ContractHistory] CHECK CONSTRAINT [FK_ContractHistory_Users]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContractRentalProperties_Contract]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractRentalPlaces]'))
ALTER TABLE [dbo].[ContractRentalPlaces]  WITH CHECK ADD  CONSTRAINT [FK_ContractRentalProperties_Contract] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([Id])
GO
ALTER TABLE [dbo].[ContractRentalPlaces] CHECK CONSTRAINT [FK_ContractRentalProperties_Contract]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContractRentalProperties_RentalProperty]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractRentalPlaces]'))
ALTER TABLE [dbo].[ContractRentalPlaces]  WITH CHECK ADD  CONSTRAINT [FK_ContractRentalProperties_RentalProperty] FOREIGN KEY([RentalPlaceId])
REFERENCES [dbo].[RentalPlaces] ([Id])
GO
ALTER TABLE [dbo].[ContractRentalPlaces] CHECK CONSTRAINT [FK_ContractRentalProperties_RentalProperty]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_FactInvoices_Contracts]') AND parent_object_id = OBJECT_ID(N'[dbo].[FactInvoices]'))
ALTER TABLE [dbo].[FactInvoices]  WITH CHECK ADD  CONSTRAINT [FK_FactInvoices_Contracts] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([Id])
GO
ALTER TABLE [dbo].[FactInvoices] CHECK CONSTRAINT [FK_FactInvoices_Contracts]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RentalCashlessPayments_Contracts]') AND parent_object_id = OBJECT_ID(N'[dbo].[RentalCashlessPayments]'))
ALTER TABLE [dbo].[RentalCashlessPayments]  WITH CHECK ADD  CONSTRAINT [FK_RentalCashlessPayments_Contracts] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([Id])
GO
ALTER TABLE [dbo].[RentalCashlessPayments] CHECK CONSTRAINT [FK_RentalCashlessPayments_Contracts]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RENTALPAYMENTS_CONTRACTRACTRENTAL]') AND parent_object_id = OBJECT_ID(N'[dbo].[RentalPayments]'))
ALTER TABLE [dbo].[RentalPayments]  WITH CHECK ADD  CONSTRAINT [FK_RENTALPAYMENTS_CONTRACTRACTRENTAL] FOREIGN KEY([ContractPlaceId])
REFERENCES [dbo].[ContractRentalPlaces] ([Id])
GO
ALTER TABLE [dbo].[RentalPayments] CHECK CONSTRAINT [FK_RENTALPAYMENTS_CONTRACTRACTRENTAL]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_RENTALPAYMENTS_CONTRACTS]') AND parent_object_id = OBJECT_ID(N'[dbo].[RentalPayments]'))
ALTER TABLE [dbo].[RentalPayments]  WITH CHECK ADD  CONSTRAINT [FK_RENTALPAYMENTS_CONTRACTS] FOREIGN KEY([ContractId])
REFERENCES [dbo].[Contracts] ([Id])
GO
ALTER TABLE [dbo].[RentalPayments] CHECK CONSTRAINT [FK_RENTALPAYMENTS_CONTRACTS]
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ContractUnpayablePeriods_ContractRentalPlaces]') AND parent_object_id = OBJECT_ID(N'[dbo].[ContractUnpayablePeriods]'))
ALTER TABLE [dbo].[ContractUnpayablePeriods]  WITH CHECK ADD  CONSTRAINT [FK_ContractUnpayablePeriods_ContractRentalPlaces] FOREIGN KEY([ContractRentalPlacesId])
REFERENCES [dbo].[ContractRentalPlaces] ([Id])
GO
ALTER TABLE [dbo].[ContractUnpayablePeriods] CHECK CONSTRAINT [FK_ContractUnpayablePeriods_ContractRentalPlaces]
