--USE RentalSystem
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
if not exists(SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[Services]') AND name = (N'IsParkingPerHour'))
begin
ALTER TABLE Services ADD IsParkingPerHour bit NOT NULL DEFAULT 0
end
if not exists(SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[Services]') AND name = (N'IsParkingWithoutTime'))
begin
ALTER TABLE Services ADD IsParkingWithoutTime bit NOT NULL DEFAULT 0
end
if not exists(SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[Services]') AND name = (N'IsOther'))
begin
ALTER TABLE Services ADD IsOther bit NOT NULL DEFAULT 0
end
GO
if not exists(SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND name = (N'AccessCode'))
begin
ALTER TABLE Users ADD AccessCode varchar(50) NULL
end
GO 
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ParkingServicePayments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ParkingServicePayments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ParkingId] [int] NOT NULL,
	[ServicePaymentsId] [int] NOT NULL,
 CONSTRAINT [PK_ParkingServicePayments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Parking]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Parking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Number] [int] NOT NULL,
	[DateFrom] [datetime] NOT NULL,
	[DateTo] [datetime] NULL,
	[CostPerHour] [money] NOT NULL,
	[CostWithoutTime] [money] NOT NULL,
	[IsLoss] [bit] NOT NULL CONSTRAINT [DF_Parking_IsLoss]  DEFAULT ((0)),
	[InternalId] [varchar](22) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Parking_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO

if not exists(select * from fn_listextendedproperty (N'MS_Description', N'SCHEMA', N'dbo', N'TABLE', N'Parking', N'COLUMN', N'Number')) 
begin
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'номер парковочного талона. Нумерация последовательная в пределах календарных суток по времени выдачи' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'Parking', @level2type=N'COLUMN', @level2name=N'Number'
end
GO

if not exists(select * from fn_listextendedproperty (N'MS_Description', N'SCHEMA', N'dbo', N'TABLE', N'Parking', N'COLUMN', N'DateFrom')) 
begin
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'дата заезда на парковку' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'Parking', @level2type=N'COLUMN', @level2name=N'DateFrom'
end
GO

if not exists(select * from fn_listextendedproperty (N'MS_Description', N'SCHEMA', N'dbo', N'TABLE', N'Parking', N'COLUMN', N'DateTo')) 
begin
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'дата выезда с парковки' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'Parking', @level2type=N'COLUMN', @level2name=N'DateTo'
end
GO

if not exists(select * from fn_listextendedproperty (N'MS_Description', N'SCHEMA', N'dbo', N'TABLE', N'Parking', N'COLUMN', N'CostPerHour')) 
begin
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'стоимость парковки за 1 час' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'Parking', @level2type=N'COLUMN', @level2name=N'CostPerHour'
end
GO

if not exists(select * from fn_listextendedproperty (N'MS_Description', N'SCHEMA', N'dbo', N'TABLE', N'Parking', N'COLUMN', N'CostWithoutTime')) 
begin
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'стоимость парковки без учёта времени или при утере парковочного талона' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'Parking', @level2type=N'COLUMN', @level2name=N'CostWithoutTime'
end
GO

if not exists(select * from fn_listextendedproperty (N'MS_Description', N'SCHEMA', N'dbo', N'TABLE', N'Parking', N'COLUMN', N'IsLoss')) 
begin
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'признак утери парковочного талона, признак для новой строки в таблице созданной под факт утери парковочного талона' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'Parking', @level2type=N'COLUMN', @level2name=N'IsLoss'
end
GO

if not exists(select * from fn_listextendedproperty (N'MS_Description', N'SCHEMA', N'dbo', N'TABLE', N'Parking', N'COLUMN', N'InternalId')) 
begin
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'составной ключ = номер карты + дата заезда или дата выезда если карта оплачена' ,@level0type=N'SCHEMA', @level0name=N'dbo', @level1type=N'TABLE', @level1name=N'Parking', @level2type=N'COLUMN', @level2name=N'InternalId'
end
GO

IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ParkingServicePayments_Parking1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParkingServicePayments]'))
ALTER TABLE [dbo].[ParkingServicePayments]  WITH CHECK ADD  CONSTRAINT [FK_ParkingServicePayments_Parking1] FOREIGN KEY([ParkingId])
REFERENCES [dbo].[Parking] ([Id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ParkingServicePayments_ServicePayments]') AND parent_object_id = OBJECT_ID(N'[dbo].[ParkingServicePayments]'))
ALTER TABLE [dbo].[ParkingServicePayments]  WITH CHECK ADD  CONSTRAINT [FK_ParkingServicePayments_ServicePayments] FOREIGN KEY([ServicePaymentsId])
REFERENCES [dbo].[ServicePayments] ([Id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Parking_Users]') AND parent_object_id = OBJECT_ID(N'[dbo].[Parking]'))
ALTER TABLE [dbo].[Parking]  WITH CHECK ADD  CONSTRAINT [FK_Parking_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
if not exists(select count(*) from Roles where Name = 'Casher')
begin
	declare 
		@roleid int,
		@adminid int

	insert into Roles (
		Name,
		Description
	)
	values (
		'Casher',
		'Кассир'
	)
end


if not exists(SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[Services]') AND name = (N'UsePlaceNumber'))
begin
alter table dbo.Services add
UsePlaceNumber bit not null default(0)
end
GO

if not exists(SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[ServicePayments]') AND name = (N'PlaceNumber'))
begin
alter table dbo.ServicePayments add
PlaceNumber varchar(10)
end
GO
